
<li id="board">
	<span class="title"><%= board.title %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(board.created_at) %> ago.
		<% if current_user?(board.user) %>
			<%= link_to "delete", board, method: :delete,
							data: {confirm: "You sure?" }, id: "board-delete" %>
		<% end %>
	</span>
</li>
